.gallery {
    display: flex;
    width: 1600px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: greenyellow; */
}

.gallery__item {
    list-style: none;
}

.gallery__image{
    width: 510px;
    height: 340px;
}

.lightbox__content{
    /* background-color: aqua; */
    width: 1280px;
    height: 850px;
}

.lightbox__image {
    padding-top: 50px;
}

.js-lightbox{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
}

.is-open {
    display: flex;
    justify-content: center;
}

.lightbox__button {
    background-color: hotpink;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 30px;
    right: 50px;
}